.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 1rem;
}

.columnsContainer {
    display: grid;
    gap: 1rem;
    
    @media (min-width: 1075px) {
        grid-template-columns: minmax(300px, 500px) 1fr;
    }
}

.leftColumn {
    display: grid;
    grid-template-rows: min-content min-content min-content min-content min-content;
    gap: 1rem;
    width: 100%;
    max-width: 650px;
    
    @media (max-width: 1074px) {
        max-width: 100%;
    }
}

.doubleRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    
    @media (max-width: 1074px) {
        grid-template-columns: 1fr;
    }
}

.rightColumn {
    height: 100%;
    min-width: 0;
}