.container {
    color: #eeeeee;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 3px;
    padding-bottom: 10px;
}

.section {
    display: flex;
    flex-flow: row nowrap;
}

.picker {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 2px 2px;
}

.iconButton {
    background: none;
    border: none;
    padding: 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    &:active {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    color: #eeeeee;
    font-size: 15px;
    font-weight: normal;
    font-family: monospace;
    width: 2.5em;
    background-color: inherit;
    border-width: 0;
    text-align: center;
    padding: 0;
    /* Remove spinner buttons for Firefox */
    -moz-appearance: textfield;

    /* Remove spinner buttons for Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.pathIcon {
    width: 18.5px; 
    height: 22px;
    display: block;
}

.arrowButton {
    background: none;
    border: none;
    color: #eeeeee;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
    cursor: pointer;
    width: 100%;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    &:active {
        background-color: rgba(255, 255, 255, 0.2);
    }
}